@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}
header {
    width:100%;
    overflow:hidden;
    background:#000000;
}

.solucion {
    margin-bottom: 20px;

}

body{
    background-color: #ebebeb;
    position: relative;
    min-height: 100vh;
    padding-bottom: 280px;
}

.wrapper {
    margin:auto;
    overflow:hidden;
    flex: 1;
}

#wrapper-web {
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.wrapper-header {
    width:90%;
    max-width:1200px;
    margin:auto;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.description-inicio {
    margin: auto 0; /* Centra verticalmente dentro del contenedor */
    max-width: 600px; /* Control del ancho (opcional) */
    text-align: center  ; /* Cambia a "center" si deseas centrar horizontalmente el texto */
}
.contenedor-objetivosI {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    column-gap: 50px;
}
.contenedor-objetivosI .description-inicio{
    align-items: center;
}
.image-inicio {
    flex: 1;
    max-width: 300px; /* Ajusta el ancho según tus necesidades */
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

.description-inicio {
    flex: 2;
    padding-left: 40px;
    max-width: 600px;
    float: right;
}

.image-inicio img {
    width: 100%;
    height: auto;
    display: block;
}


header .logo {
    float:left;
    margin-top: 20px;
}

header nav {
    float:right;
    line-height:100px;
}

header nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    font-size:20px;
    font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
    background: #333333;
    border-radius: 25px; /* Mantén un borde redondeado más pequeño */
    padding: 5px 15px; /* Reduce el padding para hacer el hover más pequeño */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra más sutil y pequeña */
    transition: all 300ms ease;
}


/* Sección de héroe */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/transmetro-1024x576.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.hero h1 {
    font-size: 50px;
    color: #000000;
    background-color: rgba(255, 255, 255, .87);
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, .87);
    display: inline;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.app-links img {
    width: 160px;
    height: 10;
    margin: 20px;
}

.objectives{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.objectives, .solution {
    padding: 50px 0;
    background: #f9f9f9;
    text-align: center;
    border-radius:5px ;
    row-gap: 10px;
    margin-bottom: 10px;
}

.objectives h2, .solution h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.objectives p, .solution p {
    color: #333333;
    font-size: 18px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

ul li {
    color: #555555;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilos del footer */
footer {
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    padding: 20px 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 280px;
}

.contenedor-contactos ul,.contenedor-redes ul{
    margin: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.contenedor-contactos li{
    color:#fff;
}

.wrapper-footer p{
    font-size: 20px;
}


footer a {
    color: #ffffff;
    text-decoration: none;
}


footer p {
    margin: 0;
    font-size: 16px;
}
header.header2 {
    background-color: #333333; 
    transition: background-color 0.3s ease;
}

.solution li{
    display:inline-block ;
}

.toggleBtn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.detalle {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-left: 3px solid #434d53;
    border-radius: 5px;
    margin-top: 10px;
    color: #333333;
    font-size: 16px;
    min-height: 130px;
}

.detalle p {
    margin: 0;
    display: flex;
    align-items: center;
}


.solution ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px; /* Espacio entre cada elemento */
    padding: 0;
    list-style: none;
}

.solution li {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-solucion {
    font-size: 40px; /* Tamaño grande del ícono */
    color: #000000; /* Color del ícono */
    margin-bottom: 10px; /* Espacio entre el ícono y el título */
}

.solution h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.solution p {
    font-size: 18px;
    color: #555;
}

#mayus {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
}

.contenedores-soluciones ul {
    display: flex;
    width: 100%;
}

.lista-soluciones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
}

.lista-soluciones p { 
    font-size: 16px;
}

/* Estilos específicos para la sección "Sobre Nosotros" */
.about {
    padding: 60px 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about strong {
    color: #000; /* Resalta el nombre de la marca */
}

.policies {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    line-height: 1.6;
}

.policies h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.policies h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.policies p {
    margin-bottom: 1rem;
}

.policies a {
    color: #007BFF;
    text-decoration: none;
}

.policies a:hover {
    text-decoration: underline;
}

/* Estilos para el simulador de pago */
#simulador-pago {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9; /* Fondo similar al de las soluciones */
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; 
    column-gap: 70px;
}

.wrapper-simulador p{
    max-width: 400px;
}

.wrapper-simulador{
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;    
}


#simulador-pago h3 {
    font-size: 24px; /* Tamaño del título */
    color: #000; /* Color del texto */
    margin-bottom: 15px; /* Espacio debajo del título */
    font-weight: bold;
}

#simulador-pago p {
    font-size: 16px; /* Tamaño del texto */
    color: #555; /* Color del texto */
    margin-bottom: 15px;
}

#simulador-pago input {
    width: 20%; /* Ancho del input */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Margen alrededor */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

#simulador-pago button {
    background-color: #000; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar */
    transition: background-color 0.3s ease; /* Transición suave */
}

#simulador-pago button:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}

#resultado-simulador {
    margin-top: 15px; /* Espacio encima del resultado */
    font-size: 18px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
}

#simulador-pago .wrapper-simulador {
    display: flex;
    flex-direction: column; /* Disposición vertical */
    align-items: center;    /* Centra los elementos horizontalmente */
    gap: 10px;              /* Espacio entre los elementos */
}

#equipo{
    background-color: #f9f9f9;
    padding-bottom: 10px;
}

#equipo h2{
    text-align: center ;
    font-size: 40px;
    margin: 15px 15px;
    padding-top: 20px;
}



.nuestro-team{
    display: grid;
    grid-template-columns: repeat(3,280px);
    margin-bottom: 60px;
    justify-content: center;
    row-gap: 20px;
}

.nuestro-team h3,p{
    margin-top: 5px;
}



.nuestro-team > div{
    padding: 30px 30px 40px 30px;
    background-color: #020202;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    color: #eeeeee;
}


#equipo img{
    width: 160px;
    height: 240px;
    border-radius: 12px;
}
/* Estilos para pantallas grandes (escritorio) */
